pre.sh_sourceCode .sh_keyword { color: #3660FF; }           /* language keywords */
pre.sh_sourceCode .sh_type { color: darkgreen; }                            /* basic types */
pre.sh_sourceCode .sh_string { color: #F50; }        /* strings and chars */
pre.sh_sourceCode .sh_regexp { color: #0A0; }     /* regular expressions */
pre.sh_sourceCode .sh_specialchar { color: pink; }  /* e.g., \n, \t, \\ */
pre.sh_sourceCode .sh_comment { color: #777; }         /* comments */
pre.sh_sourceCode .sh_number { color: #A4A; }                             /* literal numbers */
pre.sh_sourceCode .sh_preproc { color: darkblue; }       /* e.g., #include, import */
pre.sh_sourceCode .sh_symbol { }                            /* e.g., <, >, + */
pre.sh_sourceCode .sh_function { color: #3660FF; }         /* function calls and declarations */
pre.sh_sourceCode .sh_cbracket { }                              /* block brackets (e.g., {, }) */
pre.sh_sourceCode .sh_todo { background-color: cyan; }   /* TODO and FIXME */
